header.header 
    nav.nav.nav--tours 
      a(href="/").nav__el All tours 
      form(action='#').nav__search
        button.nav__search-btn 
          svg 
            use(xlink:href="/img/icons.svg#icon-search")
        input(type="text",placeholder="Search Tours").nev__search-input
    .header__logo 
      img(src="/img/logo-white.png" alt="Natours logo")
    nav.nav.nav--user 
   
        button.nav__el Log in 
        button.nav__el.nav__el--cta Sign up   